// Home Content

.home {

  .banner {
    img {
      border-radius: 5px;
      max-width: 100%
    }
  }

  .post {
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    @media @phone {
      flex-direction: column-reverse;
      margin-top: 30px;
      padding: 20px;
    }

    .post-text {
      width: 50%;

      @media @phone {
        margin-top: 20px;
        width: 100%;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .btn(@width: 50%);

        @media @phone {
          .btn(@100%, 25px);
        }

        &:hover {
          .btn(50%);

          @media @phone {
            .btn(100%, 25px);
          }
        }
      }
    }

    .post-img {
      width: 46%;
      margin-left: 4%;

      @media @phone {
        width: 100%;
        margin-left: 0;
      }
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;

        @media @phone {
          .phone-img-fill();
          margin: 0;
        }
      }
    }
  }
}// home
