// Mixins Here
.btn(@bg-color:@btn-bg-color, @color:@porcelain, @border:@btn-border) {
  background-color: @bg-color;
  color: @color;
  font-size: 2rem;
  text-align: center;
  padding: 8px 0;
  border-radius: 5px;
  width: 30%;
  border: @border;
}

.phone-img-fill() {
  flex: 1;
  margin: 20px 5%;
}
